# G কপি করে .env.docker নামে সেভ করুন (docker-compose এই ফাইলটাই পড়ে)
SECRET_KEY=change-this-to-a-long-random-string
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost

DJANGO_SETTINGS_MODULE=config.settings.dev

DB_NAME=rmg_erp
DB_USER=postgres
DB_PASSWORD=change-this-password

# প্রথমবার কন্টেইনার চালু হলে এই ইউজার/পাসওয়ার্ড দিয়ে একটি Superuser
# স্বয়ংক্রিয়ভাবে তৈরি হবে। প্রথম রান-এর পর চাইলে এই দুটি লাইন মুছে দিতে পারেন।
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-this-password-too
